* {
    margin: 0;
}

/*
header {
    height: 100px;
    border: 10px dashed red;
    padding: 20px }*/

main {
    color: white;

    background-color: rgb(55, 100, 50);
    background-image: url(https://th.bing.com/th/id/OIP.MyjF3PV3ZcaKQFimiiv_xAHaE7?pid=ImgDet&rs=1) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box ;
    background-clip: content-box ;
    background-attachment: fixed ;
}

/*
A propriedade background-attachment determina se a posição da imagem vai ser fixa ou se vai rolar junto com o conteúdo.
Principais valores
background-attachment: scroll;
background-attachment: fixed;
background-attachment: local;
*/